.container{
  padding-block: 100px;
  .flex_header{
    justify-content: space-between;
    padding-block-end: 50px;
    .heading{
      .header{
        font-size: clamp(1.5rem, 3vw, 2rem);
      }
      .sub_header{
        font-size: clamp(1.2rem, 3vw, 1.5rem);
        color: rgba(255,255,255, 0.5);
        font-weight: 400!important;
      }
    }

    .btn_pagination_container{
      display: flex;
      align-items: center;

      .iconBtn{
        border: 1px solid #e5091480;
        background: transparent;
        border-radius: 0;
        margin-inline: 10px;
      }
    }
  }


  .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    column-gap: 15px;
  }
}

@media only screen and (max-width: 768px){
  .container{
    padding-block: 50px;
    .flex_header{
      justify-content: space-between;
      padding-block-end: 50px;
      .heading{
        .header{
          font-size: clamp(1.5rem, 3vw, 2rem);
        }
        .sub_header{
          font-size: clamp(1.2rem, 3vw, 1.5rem);
          color: rgba(255,255,255, 0.5);
          font-weight: 400!important;
        }
      }
    }

    .flex{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      row-gap: 15px;
      column-gap: 10px;
    }
  }
}
